.hero-picture {
    
    min-height: 100%;
    min-width: 1024px;
    
    
    width: 100%;
    height: auto;
    
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.navbar {
    height: 4rem;
}

.navbar-nav {
    font-weight: 600;
}

.navbar-brand {
    font-size: 22px;
    font-weight: 600;
    color: #0d6efd !important;
    margin-left: 5px;
    border: 2px solid #0d6efd;
    border-radius: 8px;
    padding: 5px;
}

/* Collapse Navbar */
.container-fluid {
    z-index: 1;
    background: white;
    font-size: 18px;
}

#navbarText {
    margin-left: 15px;
}

/* Footer */

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
    border-top: 2px solid grey;
}

.contact-title {
    padding: 15px 0 5px 0;
    align-items: center;
    color: #0d6efd;
}

ul {
    list-style-type: none;
    padding-right: 2rem;
}

.hero {
    margin-top: 10rem;
}

/* header text for each site */

.header-picture {
    width: 100%;
    height: 260px;
}

.header {
    position: relative;
    text-align: center;
    color: white;
    background-color: black;
}

.header-picture {
    opacity: 0.3;
}

.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 600;
    text-shadow: 1px 1px black;
}


/* appointment form */

.card {
    padding: 30px 40px;
    margin-top: 30px;
    margin-bottom: 60px;
    border: none;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2)
}

.blue-text {
    color: #00BCD4
}

.form-control-label {
    margin-bottom: 0
}

input,
textarea,
select,
button  {
    padding: 5px 12px;
    border-radius: 5px ;
    margin: 5px 0px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 18px ;
    font-weight: 300
    }

input:focus,
textarea:focus {
    -moz-box-shadow: none ;
    -webkit-box-shadow: none ;
    box-shadow: none ;
    border: 1px solid #00BCD4;
    outline-width: 0;
    font-weight: 400
}

.btn-block {
    text-transform: uppercase;
    font-size: 15px ;
    font-weight: 400;
    height: 43px;
    cursor: pointer;
}

.btn-block:hover {
    color: #fff;
}

button:focus {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline-width: 0
}

/* Contact Page */

.contact-information {
    background-color: #0d6efd;
    color: white;
    padding: 30px;
    border-radius: 8px;
}

.contact-form {
    padding: 30px;
    background-color: white;
}

.google-maps {
    padding: 20px 0 20px 0;
}

/* Pricing Page */

.dento-pricing-table-area {
    position: relative;
    margin-top: 5rem;
    border-radius: 2px;
}

table thead tr > td,
table thead tr > th {
    background-color: #0d6efd !important;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
  }
  
table tr > td,
table tr > th {
    padding: 12px 30px !important;
    border: 1px solid lightgrey;
    font-weight: 300;
    color: black;
}

/* Manage Appointment Card  */

.card-margin {
    margin-bottom: 1 rem;
}

.card {
    border: 0;
    box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: border-box;
    border: 1px solid #e6e4e9;
    border-radius: 8px;
}

.card .card-header.no-border {
    border: 0;
}
.card .card-header {
    background: none;
    padding: 0 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    min-height: 50px;
}

.title-wrapper {
    margin-bottom: 1rem;
}

.contact-phone {
    margin-bottom: 1rem;
}

.contact-treatment,
.contact-date {
    font-size: 15px;
}

.contact-info {
    margin: 1rem 0 1rem 0;
}

.form-group {
    text-align: center;
}
