html, body {
    height: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  .main-bg {
    flex: 1 0 auto;
  }
 
/* Hero Picture  */

.hero-picture {
    width: 100%;
    height: 650px;
    opacity: 0.9;
}

/* Hero Container */

.hero-container {
    position: relative;
    background-color: rgb(2, 2, 2);
    border-bottom: solid black 1px;
}

.hero-container h2 {
    font-weight: 400;
    color: #0d6efd;
}

.hero-header {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    border: 4px solid black;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
}

.btn-home {
    padding: 1rem;
    font-size: 17px;
    border: solid 1px black;
}

.black-color {
    background-color: black;
    width: 100%;
    height: 200px;
}

/* Navbar */

.navbar {
    height: 4rem;
    border-bottom: 1px solid black;
    align-items: center;
}

.navbar-nav {
    font-weight: 600;
}

.navbar-brand {
    font-size: 22px;
    font-weight: 600;
    color: black !important;
    border: 2px solid #0d6efd;
    border-radius: 8px;
    padding: 5px;
    margin-top: 2px;
}

.nav-link {
    font-weight: 500;
}

.nav-link:hover {
    color: black  !important;
}

.bg-light {
    background-color: white !important;
}

.navbar-login {
    position: absolute;
    right: 0%;
    padding-right: 5px;
}

.navbar-user {
    position: absolute;
    right: 1%;
    font-size: 18px;
    font-weight: 500;
}

.navbar-loggout {
    position: absolute;
    right: 0%;
    padding: 0 !important;
    padding: 8px 0 8px 0;
}

.text-muted {
    color: black !important;
}

.navbar-user > .text-muted > i {
    color: #0d6efd;
    font-weight: 500;
    font-size: 21px;
}

.fa-sign-out-alt {
    font-size: 21px;
    color: #0d6efd;
}

.notification {
    padding-bottom: 5px;
    font-size: 16px;
}

.notification > i {
    color: red;
    font-size: 19px !important;
}

.navbar-logout {
    padding: 0 !important;
}

/* Collapse Navbar */

.container-fluid {
    z-index: 1;
    background: white;
    font-size: 18px;
}

/* Footer */

footer {
    flex-shrink: 0;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
    border-top: 1px solid black;
    margin-bottom: 2px;
}

.contact-title {
    align-items: center;
    color: #0d6efd;
    padding-top: 1rem;
}

ul {
    list-style-type: none;
    padding-right: 2rem;
}

.hero {
    margin-top: 10rem;
}

/* Header text for each page */

.header-picture {
    width: 100%;
    height: 260px;
    border-bottom: 1px solid black;
}

.header {
    position: relative;
    text-align: center;
    color: white;
    background-color: black;
}

.header-picture {
    opacity: 0.8;
}

.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 600;
    text-shadow: 1px 1px black;
}

/* Appointment Form */

.appointment-card {
    padding: 30px 40px;
    margin: 3rem 0 2rem 0;
    border: none;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2)
}

.form-control-label {
    margin: 5px 0 3px 0;
}

.text-center h6 {
    font-weight: 600;
    
}

input,
textarea,
select,
button  {
    padding: 5px 12px;
    border-radius: 5px ;
    margin: 5px 0px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 18px ;
    font-weight: 300
    }

input:focus,
textarea:focus {
    box-shadow: none ;
    border: 1px solid #00BCD4;
    outline-width: 0;
    font-weight: 400
}

.btn-block {
    text-transform: uppercase;
    font-size: 15px ;
    font-weight: 400;
    height: 43px;
    cursor: pointer;
    margin-top: 1rem;
}

/* Contact Page */

.contact-information {
    background-color: #0d6efd;
    border: 1px solid black;
    color: white;
    padding: 30px;
    border-radius: 8px;
}

.contact-form {
    padding: 30px;
    background-color: white;
    margin-bottom: 2rem;
}

.google-maps {
    padding: 20px 0 20px 0;
    margin-bottom: 1rem;
}

/* Services Page */

.dento-pricing-table-area {
    position: relative;
    margin: 4rem 0 4rem 0;
    border-radius: 2px;
}

table thead tr > td,
table thead tr > th {
    background-color: #0d6efd !important;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
  }
  
table tr > td,
table tr > th {
    padding: 12px 30px !important;
    border: 1px solid lightgrey;
    font-weight: 300;
    color: black;
}

/* Manage Appointment Card  */

.card {
    border: 0;
    box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: border-box;
    border: 1px solid #e6e4e9;
    border-radius: 8px;
    padding: 10px 10px;
    margin-top: 3rem;
}

.card .card-header.no-border {
    border: 0;
}
.card .card-header {
    background: none;
    padding: 0 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    min-height: 50px;
}

.card-margin {
    margin-bottom: 2rem;
}

.title-wrapper {
    margin-bottom: 1rem;
}

.contact-phone {
    margin-bottom: 1rem;
}

.contact-treatment,
.contact-date {
    font-size: 15px;
}

.contact-info {
    margin: 1rem 0 1rem 0;
}

.btn-success {
    width: 49%;
    padding: 4px;
    cursor: default;
}

.btn-danger {
    width: 49%;
    padding: 4px;
}

.user-info1 {
    margin-top: 1rem;
    font-size: 12px;
}

.user-info2 {
    margin-bottom: 0;
    font-size: 12px;
}

/* Pagination */

.page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center
}

.page-link {
    position: relative;
    display: block;
    text-decoration: none;
    background-color: #fff;
    
}

/* About us */

.about-header {
    padding: 1rem 0 0.5rem 0;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.about-topic {
    padding: 0.5rem 0 0.5rem 0;
    font-size: 20px;
    font-weight: 600;
    color: #0d6efd;
}

.about-section .counter {
    padding: 22px 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
    margin: 1rem 0 2rem 0;
}

.about-section .counter .count {
    font-weight: 700;
    color: #0d6efd;
    margin: 0 0 5px;
}

.about-section .counter p {
    font-weight: 600;
    margin: 0;
}

/* Media Quries for Mobile */
@media (max-width:991px) {
    .navbar-user {
        position: inherit;
    }

    .navbar-logout {
        margin-top: 3px;
    }

    .notification {
        padding-bottom: 8px;
    }

    .text-muted {
        padding: 8px 0 8px 0;
    }
}    

@media (max-width:750px) {
    .count-data {
        margin: 5px 0 5px 0;
    }

    .dento-pricing-table-area {
        margin: 3rem 0 3rem 0;
    }

    .contact-form {
        margin-bottom: 0;
    }

    .contact-title {
        padding-top: 0.5rem;
    }

    .card-margin {
        margin-bottom: 10px;
    }

    .appointment-card {
        margin: 2rem 0 0 0;
    }

    .hero-picture {
        height: 500px;
    }

    .header-picture {
        height: 180px;
    }

    table tr > td,
    table tr > th {
        padding: 10px 10px !important;
    }
}

@media (max-width:570px) {
    .hero-picture {
        height: 400px;
    }

    .hero-container {
        border-bottom: 0;
    }

    .hero-header {
        position: inherit;
        top: 0;
        left: 0;
        transform: translate(0, 0);
        border: 0;
        border-radius: 0px;
        padding: 0px 10px 0 10px;
        text-align: center;
    }

    .hero-header h2 {
        font-size: 35px;
        padding: 1rem 0 0.2rem 0;
        font-weight: 600;
        color: black;
    }
}