{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Header text-->
<div class="header">
    <img class="header-picture" src="https://res.cloudinary.com/dkof8rxt4/image/upload/v1634636473/new-awareness-dentistry-header_wczmy2.jpg">
    <div class="header-text">BOOK APPOINTMENT</div>
</div>

<!-- Success message -->
{% if messages %}
    <div class="alert alert-success" role="alert">
        <div>
            {% for message in messages %}
                <div> {{message}} </div>
            {% endfor %}
        </div>
    </div>
{% endif %}

<!-- Appointment form -->    
<div class="container-fluid px-1 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
            <h6>Book your appointment here. Please put in all the details and we will contact you.</h6>
            <h6>Be aware that your booking is not confirmed before we approve your appointment date.</h6>
            <h6>Please select your desire date and we will come back with a confirmed date and time.</h6>
            <h6>If you want to be able to manage your booking. Please <a class="link" href="{% url 'account_login' %}">sign in</a> before submitting the form.</h6>
            <div class="appointment-card">      
                <form class="form-card" method="POST" action="{% url 'appointment' %}">
                    {% csrf_token %}
                        <div class="row justify-content-between text-left">
                            <!-- First Name -->
                            <div class="form-group col-sm-6 flex-column d-flex"> 
                                <label class="form-control-label px-3">First Name<span class="text-danger"> *</span>
                                </label> 
                                <input required type="text" id="fname" name="fname" placeholder="Your First Name" onblur="validate(1)"> 
                            </div>
                            <!-- Last Name -->    
                            <div class="form-group col-sm-6 flex-column d-flex"> 
                                <label class="form-control-label px-3">Last Name<span class="text-danger"> *</span></label> 
                                <input required type="text" id="lname" name="lname" placeholder="Your Last Name" onblur="validate(2)"> 
                            </div>
                        </div>
                        <div class="row justify-content-between text-left">
                            <!-- Email -->    
                            <div class="form-group col-sm-6 flex-column d-flex"> 
                                <label class="form-control-label px-3">Email<span class="text-danger"> *</span>
                                </label> 
                                <input type="text" id="email" name="email" placeholder="Your Email" onblur="validate(3)"> 
                            </div>
                            <!-- Mobile -->
                            <div class="form-group col-sm-6 flex-column d-flex"> 
                                <label class="form-control-label px-3">Phone Number<span class="text-danger"> *</span></label> 
                                <input type="text" id="mob" name="mobile" placeholder="Your Phone" onblur="validate(4)"> 
                            </div>
                        </div>
                        <div class="row justify-content-between text-left">
                            <!-- Threatment -->
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label class="form-control-label px-3" class="form-label">Select Your Treatment<span class="text-danger"> *</span></label>
                                <select id="disabledSelect" class="form-select" name="treatment">
                                  <option>Basic dentist survey: 100€</option>
                                  <option>Teeth whitening service: 300€</option>
                                  <option>Ceramic crowns and fillings: 100€</option>
                                  <option>Remove crowns, bridges service: 50€</option>
                                  <option>Overlay teeth whitening: 170€</option>
                                  <option>Make braces: 2400€</option>
                                  <option>Covering the recession of the gums: 400€</option>
                                  <option>Removal of tooth: 150€</option>
                                  <option>Removal of tartar: 50€</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <!-- Date -->
                                <label class="form-control-label px-3">Desired Date<span class="text-danger"> *</span></label>
                                <div class="form-group"> <input class="form-control" id="date" type="date" name="datetime" required></div>
                            </div>
                        </div>
                        <div class="row justify-content-between text-left">
                            <!-- Information -->
                            <div class="form-group col-12 flex-column d-flex"> 
                                <label class="form-control-label px-3">Additional Information</label> 
                                <textarea type="text" id="ans" name="information" placeholder="Your Message" onblur="validate(7)"></textarea> 
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <!-- Submit Button -->
                            <div class="form-group col-sm-6"> <button type="submit" class="btn-block btn-primary">Booking now</button> </div>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}