{% extends 'base.html' %}
{% load static %}
{% block content %}


    <!-- Appointment form -->
    
    <div class="container-fluid px-1 py-5 mx-auto">
        <div class="row d-flex justify-content-center">
            <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
                <h3>
                    Book your dentist appointment
                </h3>
                <p class="blue-text">Use the following form to contact us and request an appointment..</p>
                <div class="card">
                    
                    <form class="form-card" method="POST" action="{% url 'appointment' %}">
                    
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex"> 
                            <label class="form-control-label px-3">First name<span class="text-danger"> *</span>
                            </label> 
                            <input required type="text" id="fname" name="fname" placeholder="Enter your first name" onblur="validate(1)"> 
                        </div>

                        <div class="form-group col-sm-6 flex-column d-flex"> 
                            <label class="form-control-label px-3">Last name<span class="text-danger"> *</span></label> 
                            <input required type="text" id="lname" name="lname" placeholder="Enter your last name" onblur="validate(2)"> 
                        </div>

                        </div>

                        <div class="row justify-content-between text-left">

                            <div class="form-group col-sm-6 flex-column d-flex"> 
                                <label class="form-control-label px-3">Email<span class="text-danger"> *</span>
                                </label> 
                                <input type="text" id="email" name="email" placeholder="" onblur="validate(3)"> 
                            </div>

                            <div class="form-group col-sm-6 flex-column d-flex"> 
                             <label class="form-control-label px-3">Phone number<span class="text-danger"> *</span></label> 
                              <input type="text" id="mob" name="mobile" placeholder="" onblur="validate(4)"> 
                            </div>

                        </div>
                        
                        <div class="row justify-content-between text-center">

                            <div class="mb-3">
                                <label for="disabledSelect" class="form-label">Select your treatment</label>
                                <select id="disabledSelect" class="form-select">
                                  <option>Basic survey: 100€</option>
                                  <option>Tartar removal: 50€</option>
                                  <option>Teeth whitening: 250€</option>
                                  <option>Tooth removal: 150€</option>
                                  <option>Braces: 2400€</option>
                                </select>
                              </div>

                        </div>

                        <div class="row justify-content-between text-left">
                            <div class="form-group col-12 flex-column d-flex"> 
                                <label class="form-control-label px-3">Your request<span class="text-danger"> *</span></label> 
                                <textarea type="text" id="ans" name="request" placeholder="" onblur="validate(6)"></textarea> 
                            </div>
                        </div>
                        <div class="row justify-content-end">
                            <div class="form-group col-sm-6"> <button type="submit" class="btn-block btn-primary">Submit</button> </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>




{% endblock %}