{% load static %}

<!DOCTYPE html>
<html class="h-100">

<head>
    <title>Z Dentist</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css"> 

</head>

<body>

    <!-- Navigation -->

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}"><span class="brand">Z <span class="thin"> | Dentist</span></span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    {% url 'home' as url %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == url %}active{% endif %}" aria-current="page" href="{{ url }}">Home</a>
                    </li>
                    {% url 'home' as url %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url }}#about">About us</a>
                    </li>
                    {% url 'services' as url %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == url %}active{% endif %}" href="{{ url }}">Services</a>
                    </li>
                    {% url 'contact_us' as url %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == url %}active{% endif %}" href="{{ url }}">Contact</a>
                    </li>
                    {% url 'appointment' as url %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == url %}active{% endif %}" href="{{ url }}">Book now</a>
                    </li>
                    {% if request.user.is_authenticated %}
                    {% url 'manage_appointments' as url %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == url %}active{% endif %}" href="{{ url }}">Manage</a>
                    </li>
                    {% endif %}
                    {% if request.user.is_superuser %}
                    <span class="notification"><i class="far fa-bell"></i> {{count}}</span>
                    {% endif %}
                </ul>
                {% if request.user.is_authenticated %}
                <div class="navbar-user">
                    <span class="text-muted">
                        <i class="far fa-user"></i> {{user}}
                    </span>
                    <ul class="navbar-nav mr-auto">
                        {% url 'account_logout' as url %}
                        <li class="nav-item">
                            <a class="nav-link navbar-logout {% if request.path == url %}active{% endif %}" href="{{ url }}"><i class="fas fa-sign-out-alt"></i></a>
                        </li>
                    </ul>
                </div>        
                {% else %}
                <ul class="navbar-nav navbar-login mr-auto">
                    {% url 'account_signup' as url %}    
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == url %}active{% endif %}" href="{{ url }}">Register</a>
                    </li>
                    {% url 'account_login' as url %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == url %}active{% endif %}" href="{{ url }}">Login</a>
                    </li>
                </ul>    
                {% endif %}
            </div>
        </div>
    </nav>

<main class="flex-shrink-0 main-bg">
    {% block content %}
    <!-- Content Goes here -->
    {% endblock content %}
</main>

<footer>
    <div class="container">
        <div class="row">
          <!-- Single Footer Widget -->
            <div class="col-12 col-sm-6">
                <div class="contact-title">
                    <h5 class="adress-title">Contact</h5>
                </div>    
                <ul class="footer-contact">
                    <li><span>10 West Elm, London</span></li>
                    <li><span>60610 United Kingdom</span></li>
                    <li><span> 111 222 3333</span></li>
                    <li><span> zdentist@gmail.com</span></li>
                </ul>
            </div>    
            <!-- Single Footer Widget -->
            <div class="col-12 col-sm-6">
                <div class="contact-title">
                    <!-- Widget Title -->
                    <h5 class="opening-title">Opening Hours</h5>
                </div>            
                <!-- Opening Hours -->
                <ul class="footer-contact">
                    <li><strong><span>Mon-Fri:</span></strong> <span>8.00-18.00</span></li>
                    <li><strong><span>Sat:</span></strong> <span>9.00-17.00</span></li>
                    <li><strong><span>Sun:</span></strong> <span>10.00-17.00</span></li>
                    <li><span>Holiday:</span> <span>Closed</span></li>
                </ul>
            </div>
        </div>
    </div>    
</footer>
    
</body>

</html>