{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Header text-->
<div class="header">
    <img class="header-picture" src="https://res.cloudinary.com/dkof8rxt4/image/upload/v1634636473/new-awareness-dentistry-header_wczmy2.jpg">
    <div class="header-text">CONTACT</div>
</div>

<!-- Success message -->
{% if messages %}
    <div class="alert alert-success" role="alert">
        <div>
            {% for message in messages %}
                <div> {{message}} </div>
            {% endfor %}
        </div>
    </div>
{% endif %}

<section class="dento-contact-area mt-50 mb-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="google-maps mb-100">
                  <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" id="gmap_canvas" src="https://maps.google.com/maps?width=520&amp;height=400&amp;hl=en&amp;q=%20London+(London)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe> 
                </div>
            </div>
        </div>
        <!-- Contact Information -->
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="contact-information">
                    <h5>Address</h5>
                    <p>10 West Elm, London, 60610 UK</p>
                    <h5>Phone</h5>
                    <p>111 222 3333</p>
                    <h5>Email</h5>
                    <p class="mb-0">zdentist@gmail.com</p>
                </div>
            </div>
            <!-- Contact Form -->
            <div class="col-12 col-md-8">
            <div class="contact-form">
            <!-- Section Heading -->
            <div class="section-heading">
                <h2>Get In Touch</h2>
                <div class="line"></div>
            </div>
            <!-- Form -->
            <!-- <form action="{% url 'contact_us' %}" method="POST"> -->
            <form id="contact-form" action="{% url 'send_email' %}" role="form">    
              {% csrf_token %}
              <div class="row">
                  <div class="col-lg-6">
                      <input type="text" name="message-name" class="form-control mb-30" placeholder="Your Name">
                  </div>
                  <div class="col-lg-6">
                      <input type="email" name="message-email" class="form-control mb-30" placeholder="Your Email">
                  </div>
                  <div class="col-12">
                      <textarea name="message" class="form-control mb-30" placeholder="Your Message"></textarea>
                  </div>
                  <div class="col-12">
                      <button type="submit" class="btn-block btn-primary">Send Message</button>
                  </div>
              </div>
            </form>
          </div>
      </div>
    </div>
  </div>
</section>
   


{% endblock %}