{% extends 'base.html' %}
{% load static %}
{% block cta %}
<div class="container hero">
        <div class="row">
            <div class="col-12 col-lg-6 col-xl-5 offset-xl-1">
                <h1>Exceptional Medical Care for All Ages.</h1>
                <p> At our Medical Center
                    we combine world class medicine
                    with compassionate care. </p>
                    <a href="{% url 'appointment' %}" class="btn btn-light btn-lg action-button" type="button">Book an appointment</a>
            </div>

        </div>
    </div>

{% endblock cta %}