{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="black-color"></div>
<div class="hero-container">
    <img class="hero-picture" src="https://res.cloudinary.com/dkof8rxt4/image/upload/v1634722211/dental-2036941_960_720_akqass.jpg">
    <div class="hero-header">
        <h1>Exceptional Dentist Service affordable for everyone.</h1>
        <p> We recognize that all of our patients are unique and deserve to receive dental care that reflects their individual needs.
            We will take a good care of you and your family! New Patients are always welcome at Z Dentist.
            Our team is happy to answer any questions you may have concerning your dental health and first dentist visit. </p>
        <a href="{% url 'appointment' %}" class="btn btn-dark btn-lg action-button" type="button">Book an appointment</a>
    </div>
</div>       




{% endblock %}