{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Header text -->
<div class="header">
    <img class="header-picture" src="https://res.cloudinary.com/dkof8rxt4/image/upload/v1634636473/new-awareness-dentistry-header_wczmy2.jpg">
    <div class="header-text">MANAGE APPOINTMENTS</div>
</div>

<!-- Success message -->
{% if messages %}
    <div class="alert alert-success" role="alert">
        <div>
            {% for message in messages %}
                    <div> {{message}} </div>
            {% endfor %}
        </div>
    </div>
{% endif %}

<!-- Manage Appointment Card  -->


<div class="container">
    <div class="row">
        {% for app in appointments %}
            <div class="col-lg-4">
                <div class="card card-margin">
                    <div class="card-header no-border">
                        <h4 class="card-title">{{app.first_name}} {{app.last_name}}</h4>
                    </div>
                    <div class="card-body pt-0">
                        <div class="card-contact">
                            <div class="contact-email">
                                <span>{{app.email}}</span>
                            </div>    
                            <div class="contact-phone">
                                <span>{{app.phone}}</span>
                            </div>
                            <div class="contact-date">
                                <strong>Date:</strong>
                                <span>{{app.datetime}}</span>
                            </div>    
                            <div class="contact-treatment">
                                <strong>Treatment:</strong>
                                <span>{{app.treatment}}</span>
                            </div>
                            <div class="contact-info">
                                <div class="info">
                                    <span>{{app.information}}</span>
                                </div>
                            </div>
                            <form class="form-accept" method="POST" action="{% url 'manage_appointments' %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    {% if app.accepted == False %}
                                    <h6>Confirm Appointment</h6>
                                    <input type="datetime-local" name="confirm-date" class="form-control mb-2">
                                        <input hidden="true" name="appointment-id" value="{{app.id}}">
                                    <input class="btn-block btn-primary form-control" type="submit" value="Accept">
                                    {% endif %}
                                    {% if app.accepted %}
                                    <div class="confirmation">
                                        <h4>Appointment set</h4>
                                        <p>{{app.accepted_date}}</p>                            
                                    </div>
                                    <input class="btn btn-success" type="submit" value="CONFIRMED">
                                    {% endif %}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>    
</div>

            {% if is_paginated %}
            <div class="page-wrapper">
                <nav aria-label="step-links">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}">Previous</a></li>
                        {% endif %}
                        {% for number in page_obj.paginator.page_range %}
                        <li class="page-item"><a class="page-link" href="?page={{number}}">{{number}}</a></li>
                        {% endfor %}
                        {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">Next</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
            {% endif %}
            

{% endblock %}