{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Header text -->
<div class="header">
    <img class="header-picture" alt="hero header" src="https://res.cloudinary.com/dkof8rxt4/image/upload/v1634636473/new-awareness-dentistry-header_wczmy2.jpg">
    <div class="header-text">MANAGE APPOINTMENTS</div>
</div>

<!-- Success message -->
{% if messages %}
    <div class="alert alert-success" role="alert">
        <div>
            {% for message in messages %}
                <div> {{message}} </div>
            {% endfor %}
        </div>
    </div>
{% endif %}

<!-- Manage Appointment Card  -->

<div class="container">
    <div class="row">
        {% for app in appointments %}
            <div class="col-lg-4">
                <div class="card card-margin">
                    <div class="card-header no-border">
                        <!-- Name  -->
                        <h4 class="card-title">{{app.first_name}} {{app.last_name}}</h4>
                    </div>
                    <div class="card-body pt-0">
                        <div class="card-contact">
                            <!-- Email  -->
                            <div class="contact-email">
                                <span>{{app.email}}</span>
                            </div>
                            <!-- Phone  -->    
                            <div class="contact-phone">
                                <span>{{app.phone}}</span>
                            </div>
                            <!-- Date  -->
                            <div class="contact-date">
                                <strong>Desire Date:</strong>
                                <span>{{app.datetime}}</span>
                            </div>
                            <!-- Treatment  -->   
                            <div class="contact-treatment">
                                <strong>Treatment:</strong>
                                <span>{{app.treatment}}</span>
                            </div>
                            <!-- Info  -->
                            <div class="contact-info">
                                <div class="info">
                                    <span>{{app.information}}</span>
                                </div>
                            </div>
                            <!-- Form card -->
                            <form class="form-accept" method="POST" action="{% url 'manage_appointments' %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <!-- Info before appointment is accepted for Admin  -->
                                    {% if app.accepted == False %}
                                    {% if request.user.is_superuser %}
                                    <div class="card card-body">
                                        <!-- Card to accept the appointment date  -->
                                        <h6>Confirm Appointment</h6>
                                        <input type="datetime-local" name="confirm-date" class="form-control mb-2">
                                            <input hidden="true" name="appointment-id" value="{{app.id}}">
                                            <input hidden="true" name="email" value="{{app.email}}">
                                            <input hidden="true" name="fname" value="{{app.fname}}">
                                        <input class="btn-block btn-primary form-control" type="submit" value="Accept Appointment">
                                    </div>
                                    {% endif %}
                                    {% endif %}
                                    <!-- Info for user when appointment is still not accepted  -->
                                    {% if request.user.is_superuser == False %}
                                    {% if app.accepted == False %}
                                    <h6><i class="far fa-clock"></i> Your booking is waiting to be approved by our staff. Please check back later.</h6>
                                    {% endif %}
                                    {% endif %}
                                    <!-- Confirm appointment date ADMIN  -->
                                    {% if request.user.is_superuser %}
                                    {% if app.accepted %}
                                    <div class="confirmation">
                                        <h6>Confirmed Appointment Date</h6>
                                        <p>{{app.accepted_date}}</p>
                                    </div>                            
                                    <!-- Admin buttons  -->
                                    <button class="btn btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample{{app.id}}" aria-expanded="false" aria-controls="collapseExample">
                                        CHANGE TIME
                                    </button>
                                    <a href="{% url 'delete-appointment' app.id %}" class="btn btn-danger btn-admin">DELETE</a>
                                    <!-- Collapsable div to change appointment times -->
                                    <div class="collapse" id="collapseExample{{app.id}}">
                                        <div class="card card-body">
                                            <h6>Change Appointment</h6>
                                            <input type="datetime-local" name="confirm-date" class="form-control mb-2">
                                                <input hidden="true" name="appointment-id" value="{{app.id}}">
                                                <input hidden="true" name="email" value="{{app.email}}">
                                                <input hidden="true" name="fname" value="{{app.fname}}">
                                            <input class="btn-block btn-primary form-control" type="submit" value="Accept New Appointment">
                                        </div>
                                    </div>        
                                    {% endif %}
                                    {% endif %}
                                    <!-- Confirmed Appointment user  -->
                                    {% if request.user %}
                                    {% if request.user.is_superuser == False %}
                                    {% if app.accepted %}
                                    <div class="confirmation">
                                        <div class="card card-body">
                                            <h6>Confirmed Appointment Date</h6>
                                            <p>{{app.accepted_date}}</p>                            
                                             <!-- User button -->
                                            <a href="{% url 'delete-appointment' app.id %}" class="btn btn-danger">CANCEL APPOINTMENT</a>
                                        </div>
                                    </div>    
                                    
        
                                    <!-- Info after appointment is accepted for User  -->                                    
                                    <p class="user-info1">* If you would like to change your booking please cancel it then apply for a new appointment.</p>
                                    <p class="user-info2">* Please be aware you will need to cancel 24 hours prior to your appointment to not be charged.</p>
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>    
</div>
<!-- Pageination on the button of the page  -->  
{% if is_paginated %}
    <div class="page-wrapper">
        <nav aria-label="step-links">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}">Previous</a></li>
                {% endif %}
                {% for number in page_obj.paginator.page_range %}
                <li class="page-item"><a class="page-link" href="?page={{number}}">{{number}}</a></li>
                {% endfor %}
                {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">Next</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endif %}

{% endblock %}