{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Header text-->

<div class="header">
    <img class="header-picture" src="https://res.cloudinary.com/dkof8rxt4/image/upload/v1634636473/new-awareness-dentistry-header_wczmy2.jpg">
    <div class="header-text">PRICING</div>
</div>

<!-- Price Section-->
<section class="dento-pricing-table-area mt-50 section-padding-0-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="dento-price-table table-responsive">
                    <table class="table mb-0">
                        <thead>
                            <tr>
                                <th scope="col">Service Name</th>
                                <th scope="col">Stage</th>
                                <th scope="col">Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Basic dentist survey</th>
                                <td>1 time</td>
                                <td>€100</td>
                            </tr>
                            <tr>
                                <th scope="row">Teeth Whitening Service</th>
                                <td>1 time</td>
                                <td>€300</td>
                            </tr>
                            <tr>
                                <th scope="row">Ceramic crowns and fillings</th>
                                <td>1 time</td>
                                <td>€100</td>
                            </tr>
                            <tr>
                                <th scope="row">Remove crowns, bridges Service</th>
                                <td>1 tooth</td>
                                <td>€50</td>
                            </tr>
                            <tr>
                                <th scope="row">Overlay teeth whitening</th>
                                <td>1 time</td>
                                <td>€170</td>
                            </tr>
                            <tr>
                                <th scope="row">Make braces</th>
                                <td>1 time</td>
                                <td>€2400</td>
                            </tr>
                            <tr>
                                <th scope="row">Covering the recession of the gums</th>
                                <td>1 time</td>
                                <td>€400</td>
                            </tr>
                            <tr>
                                <th scope="row">Removal of tooth</th>
                                <td>1 tooth</td>
                                <td>€150</td>
                            </tr>
                            <tr>
                                <th scope="row">Removal of tartar</th>
                                <td>1 time</td>
                                <td>€50</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>            
{% endblock %}